
.game-desk {
	width: 360px;
	height: 300px;
	margin: 100px auto;
	border: 1px solid #666;
	background: #d5eaff;
}

.box-row {
	height: 30px;
	width: 360px;
	margin: 0 auto;
}

.single-box {
	box-sizing: border-box;
	height: 30px;
	width: 30px;
	border-radius: 5px;
	border: 1px solid #666;
	display: inline-block;
	float: left;
}

.example-row {
	height: 30px;
	width: 120px;
	margin: 0 auto;
}

.example-cell {
	box-sizing: border-box;
	height: 30px;
	width: 30px;
	display: inline-block;
	float: left;
	border-radius: 5px;
	border: 1px solid #666;
	visibility: collapse;
}

.example-cell.box-fill {
	visibility: visible;
}

.box-fill,
.box-static {
	background: yellowgreen;
}

.box-red {
	background: red;
}

.game-arg {
	position: absolute;
	top: 100px;
	width: 200px;
	height: 300px;
	border: 1px solid #C0C0C0;
	margin-left: 10px;
	background: #d5d5d5;
}

.game-arg .box-shape {
	width: 200px;
	height: 200px;
	border-bottom: 1px solid #C0C0C0;
}

.game-arg .box-score {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-bottom: 1px solid #C0C0C0;
}

.game-arg .box-score span {
	color: red;
}

.game-arg .box-start-shut {
	width: 100%;
	height: 50px;
	line-height: 50px;
}

.game-arg .box-start-shut .btn {
	display: block;
	margin: 10px auto;
	padding: 5px 10px;
	height: 30px;
	background: #2ebeef;
	border: 1px solid #2EBEEF;
	border-radius: 4px;
	color: #fff;
	cursor:pointer;
}
.game-arg .box-start-shut .btn:hover{
	background: #2a82a0;
}
